#nice {
  margin: 0px 8px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

#nice p {
  margin: 1.5em 0;
  padding: 0;
  line-height: 1.8em;
  color: rgb(66, 75, 93);
  font-size: 16px;
  font-family: Futura-Medium;
  text-align: justify;
}

#nice p strong {
  color: rgb(66, 75, 93);
}

/* 一级标题 */
#nice h1 {
  font-size: 2em;
  line-height: 1.1em;
  padding-bottom: 10px;
  margin-bottom: 4px;
  color: #232323;
}
/* 一级标题内容 */
#nice h1 span {
  color: #232323;
  font-weight: 700;
}

#nice h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
  margin-top: 2.2em;
  margin-bottom: 4px;
  font-family: Futura-Medium;
}

/* 一级标题修饰 请参考有实例的主题 */
#nice h1:after {
}

/* 二级标题 */
#nice h2 {
  margin-bottom: 35px;
}

/* 二级标题内容 */

#nice h2 span {
}

/* 二级标题修饰 请参考有实例的主题 */
#nice h2:after {
}

/* 三级标题 */
#nice h3 {
  line-height: 1.4;
  padding-top: 10px;
  margin: 10px 0 5px;
  color: #232323;
}

/* 三级标题内容 */
#nice h3 span {
  color: #232323;
  font-weight: 700;
  font-size: 1em;
  padding-left: 20px;
  border-left: 3px solid #ab1942;
  font-weight: norm;
}

/* 三级标题修饰 请参考有实例的主题 */
#nice h3:after {
}

/* 引用
* 左边缘颜色 border-left-color: black;
* 背景色 background: gray;
*/
#nice blockquote {
  border-left-color: #ddd !important;
  background: none !important;
}

#nice blockquote p {
  color: rgb(66, 75, 93) !important;
  background: none !important;
}
/* 引用文字 */
#nice blockquote li {
  color: #888 !important;
  font-size: 15px;
}

/* 引用文字 */
#nice blockquote section {
  color: #888 !important;
  font-size: 15px;
}

/* 链接 */
#nice a {
  border: none;
  text-decoration: none;
  color: #ab1942;
  font-weight: normal;
  text-decoration: underline;
}

#nice a:hover {
  color: #ab1942;
  text-decoration: underline;
}

/* 无序列表整体样式
 * list-style-type: square|circle|disc;
 */
#nice ul {
  color: #232323;
}

/* 无序列表整体样式
 * list-style-type: upper-roman|lower-greek|lower-alpha;
 */
#nice ol {
}

/* 列表内容，不要设置li
 */
#nice li section {
  color: rgb(66, 75, 93);
  font-family: Futura-Medium;
}

/* 加粗 */
#nice strong {
}

/* 斜体 */
#nice em {
}

/* 加粗斜体 */
#nice strong em {
}

/* 删除线 */
#nice del {
  color: #ab1942;
}

/* 分隔线
* 粗细、样式和颜色
* border-top: 1px solid #3e3e3e;
*/
#nice hr {
  border-top: 1px solid #ddd;
  margin: 20px 100px;
}

/* 图片
* 宽度 width: 80%;
* 居中 margin: 0 auto;
* 居左 margin: 0 0;
*/
#nice img {
  display: block;
  margin: 5px auto; /*图片水平居中*/
  /* margin:0 0;  */ /*图片水平居左，如需要请打开*/
  max-width: 100%;
  border-radius: 3px;
  border: none;
}

/* 图片描述文字 */
#nice figcaption {
  margin-top: 10px;
  color: #888;
  font-size: 14px;
}

/* 行内代码 */
#nice p code,
li code {
  color: #232323;
  background-color: rgb(255, 218, 169);
  font-family: Monaco;
  border-radius: 0;
  font-size: 16px;
}

/* 非微信代码块
 * 代码块不换行 display: -webkit-box !important;
 * 代码块换行 display: block;
 */
#nice pre code {
}

/*
 * 表格内的单元格
 * 字体大小 font-size: 16px;
 * 边框 border: 1px solid #ccc;
 * 内边距 padding: 5px 10px;
 */
#nice table tr th,
#nice table tr td {
  text-align: center;
}

/* 脚注文字 */
#nice .footnote-word {
  color: #ab1942;
  padding: 3px;
}

/* 脚注上标 */
#nice .footnote-ref {
  color: #ab1942;
  margin: 2px;
  padding: 3px;
}

/* "参考资料"四个字 
 * 内容 content: "参考资料";
 */
#nice .footnotes-sep:before {
  margin: 30px 0px 15px 0px;
  font-weight: 800;
}

/* 参考资料编号 */
#nice .footnote-num {
}

/* 参考资料文字 */
#nice .footnote-itbem p {
}

/* 参考资料解释 */
#nice .footnote-item p em {
}

/* 行间公式
 * 最大宽度 max-width: 300% !important;
 */
#nice .block-equation svg {
}

/* 行内公式
 */
#nice .inline-equation svg {
}

#nice section {
  color: rgb(66, 75, 93);
  font-family: Futura-Medium;
}

#nice ol {
  color: rgb(66, 75, 93);
  font-family: Futura-Medium;
}

#nice table {
  font-family: Futura-Medium;
  font-weight: normal;
  color: #232323;
}

#nice .footnote-word {
  font-weight: normal;
}

#nice .footnote-ref {
  font-weight: normal;
}
